# for Sensor HAL
#/dev/lsm303dlh_acc        0660   system     system
#/dev/lsm303dlh_mag        0660   system     system
/dev/akm8975_aot	  0660   system     system
/dev/akm8975_dev	  0660   system     system

# for Radio
/dev/ttyUSB1              0777   root       root
/dev/ttyUSB0              0777   root       root
/dev/ttyACM0              0777   root       root
/dev/ttyACM1              0777   root       root
/dev/ttyACM2              0777   root       root
/dev/ttyACM3              0777   root       root

/dev/mux1                 0666   root       root
/dev/mux2                 0666   root       root
/dev/mux3                 0666   root       root
/dev/mux4                 0666   root       root
/dev/mux5                 0666   root       root
/dev/mux6                 0666   root       root
/dev/mux7                 0666   root       root
/dev/mux8                 0666   root       root

# for CTS test:events can be read, others can't be read
/dev/log/events           0666   root       log
/dev/smart/*              0662   system     system

# for LCD_tuning
/dev/pri_lcd              0666   system     system

/dev/uhid                 0666   root       root
