sonyimx135=/system/etc/camera/davinci/sonyimx135_liteon/
sonyimx135_liteon=/system/etc/camera/davinci/sonyimx135_liteon/
ov8830=/system/etc/camera/davinci/ov8830/
ov8830_sunny=/system/etc/camera/davinci/ov8830/
ov8830_foxconn=/system/etc/camera/davinci/ov8830/
ov8830_samsuny=/system/etc/camera/davinci/ov8830/